@bg-color: #f8f8fc;

.box-shadow (@distance: 2px) {
  -webkit-box-shadow: @distance @distance (@distance / 2) (@distance / 2) (@bg-color - #444);
     -moz-box-shadow: @distance @distance (@distance / 2) (@distance / 2) (@bg-color - #444);
       -o-box-shadow: @distance @distance (@distance / 2) (@distance / 2) (@bg-color - #444);
          box-shadow: @distance @distance (@distance / 2) (@distance / 2) (@bg-color - #444);
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.transition-all (@duration: 0.3s) {
  -webkit-transition: all @duration ease-in-out;
     -moz-transition: all @duration ease-in-out;
       -o-transition: all @duration ease-in-out;
          transition: all @duration ease-in-out;
}

/* ------- Global tweaks */
.clearfix:after,
.question:after,
.response:after,
.container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h1, p, li, a {
  font-family: 'Arvo', serif;
  line-height: 20px;
}
p {
  font-size: 16px;
}

header,
#content,
footer {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

body {
  background: @bg-color url(/images/water-bg2.jpg) fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

.container {
  width: 780px;
  background-color: white;
  margin-top: 15px;
  .box-shadow(2px);
  .border-radius();
  border: 2px solid;
  padding: 10px 120px 10px 60px;
}

header {
  position: relative;
  height: 125px;
  
  nav ul {
    position: absolute;
    right: 28px;
    bottom: 55px;
  }
  nav ul li {
    float: left;
    margin-right: 15px;
  }
  nav ul li a {
    padding: 5px 15px;
    text-decoration: none;
    .border-radius(14px);
    background-color: rgba(0,0,0,0.2);
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    .transition-all();
  }
  nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
  }
  h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    position: absolute;
    right: 70px;
    bottom: -20px;
  }
  #beaker-wrapper {
    position: absolute;
    right: -65px;
    bottom: -125px;
  }
  #beaker-background {
    position: absolute;
    top: 203px;
    background-color: red;
    width: 136px;
    left: 1px;
    height: 97px;
    overflow: hidden;
  }
  #beaker-background img {
    position: relative;
    left: -50px;
    top: -50px;
    opacity: 0.8;
  }
  #logo {
    position: relative;
    z-index: 1;
  }
}

footer {
  position: relative;
  
  nav {
    padding: 20px 5px;
  }
  nav ul {
    position: absolute;
  }
  nav ul li {
    float: left;
    margin-right: 15px;
  }
  nav ul li a {
    padding: 5px 15px;
    text-decoration: none;
    .border-radius(14px);
    background-color: rgba(0,0,0,0.2);
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    .transition-all();
  }
  nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
  }
}

.first.process {
  margin-top: 0;
  border-top: none;
}
.question {
  margin-left: -20px;
}
.response {
  margin-left: 50px;
  margin-top: 8px;
  padding-top: 8px;
}
.question img,
.response img {
  float: left;
  margin-right: 10px;
}
.response_0 {
  color: #000;
  border-top: 1px dotted #000;
}
.response_1 {
  color: #444;
  border-top: 1px dotted #444;
}
.response_2 {
  color: #888;
  border-top: 1px dotted #888;
}
.response_3 {
  color: #BBB;
  border-top: 1px dotted #BBB;
}
.question,
.response_0,
.response_1,
.response_2,
.response_3 {
  .email {
    font-size: 13px;
    font-style: italic;
  }
}
.accepted {
  color: green;
}
